body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

main {
    width: 60%; /* or any desired width */
    margin: 0 auto; /* Centers the main element horizontally */
    padding: 20px;
    background-color: #ffffff; /* Optional: to see the centered area better */
    text-align: center; /* Centers the text and inline elements inside main */
}

ul.quiz {
    list-style-type: none; /* Removes bullet points */
    padding: 0;            /* Removes default padding */
    margin: 0;             /* Removes default margin */
}

ul.quiz li {
    margin-bottom: 10px;  /* Adds some space between buttons */
}

ul.quiz button {
    width: 60%;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
}

ul.quiz button.correct {
    background-color: #28a745; /* Green for correct */
    border-color: #28a745;
    color: white;
}

ul.quiz button.incorrect {
    background-color: #dc3545; /* Red for incorrect */
    border-color: #dc3545;
    color: white;
}

button {
    background-color: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #e8491d;
}

footer {
    width: 60%; /* or any desired width */
    margin: 0 auto; /* Centers the main element horizontally */
    padding: 50px;
    text-align: center; /* Centers the text and inline elements inside main */
}

#next-question {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    display: none; /* Initially hidden */
}

#next-question:hover {
    background-color: #0056b3;
}
